<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/demo/demo002/css/jquery.fullpage.css">
    <link rel="stylesheet" href="/public/demo/demo002/css/index.css">
</head>
<body>
<!--公共的元素-->
<a href="#" class="go"><img src="/public/demo/demo002/images/00-go.png" alt=""></a>
<a href="javascript:;" class="more"><img src="/public/demo/demo002/images/00-more.png" alt=""></a>
<!--整体的元素-->
<div class="container">
    <div class="section screen01">
        <div class="content">
            <div class="goods"><img src="/public/demo/demo002/images/01-goods.png" alt=""></div>
            <div class="sofa"><img src="/public/demo/demo002/images/01-sofa.png" alt=""></div>
            <div class="fly"><img src="/public/demo/demo002/images/01-fly.png" alt=""></div>
        </div>
    </div>
    <div class="section screen02 ">
        <div class="content">
            <div class="goods"><img src="/public/demo/demo002/images/02-goods.png" alt=""></div>
            <div class="sofa"><img src="/public/demo/demo002/images/02-sofa.png" alt=""></div>
            <div class="input">
                <img class="search" src="/public/demo/demo002/images/02-search.png" alt="">
                <img class="key" src="/public/demo/demo002/images/02-key.png" alt="">
            </div>
            <div class="text">
                <img class="text01" src="/public/demo/demo002/images/02-text1.png" alt="">
                <img class="text02" src="/public/demo/demo002/images/02-text2.png" alt="">
            </div>
        </div>
    </div>
    <div class="section screen03 ">
        <div class="content">
            <div class="sofa"><img src="/public/demo/demo002/images/02-sofa.png" alt=""></div>
            <div class="change">
                <img class="change01" src="/public/demo/demo002/images/03-change01.gif" alt="">
                <img class="change02" src="/public/demo/demo002/images/03-change02.gif" alt="">
            </div>
            <div class="cart">
                <img class="cart01" src="/public/demo/demo002/images/03-cart01.gif" alt="">
                <img class="cart02" src="/public/demo/demo002/images/03-cart02.gif" alt="">
            </div>
        </div>
    </div>
    <div class="section screen04 ">
        <div class="content">
            <div class="sofa"><img src="/public/demo/demo002/images/02-sofa.png" alt=""></div>
            <div class="cloud"><img src="/public/demo/demo002/images/04-cloud.png" alt=""></div>
            <div class="text">
                <img class="text01" src="/public/demo/demo002/images/04-text01.png" alt="">
                <img class="text02" src="/public/demo/demo002/images/04-text02.png" alt="">
            </div>
            <div class="cart"><img src="/public/demo/demo002/images/04-cart.png" alt=""></div>
            <div class="address">
                <img class="address01" src="/public/demo/demo002/images/04-address01.png" alt="">
                <img class="address02" src="/public/demo/demo002/images/04-address02.png" alt="">
            </div>
        </div>
    </div>
    <div class="section screen05 ">
        <div class="content">
            <div class="text"><img src="/public/demo/demo002/images/05-text.png" alt=""></div>
            <div class="sofa"><img src="/public/demo/demo002/images/02-sofa.png" alt=""></div>
            <div class="card">
                <img class="cardImg" src="/public/demo/demo002/images/05-card.png" alt="">
                <img class="orderImg" src="/public/demo/demo002/images/05-order.png" alt="">
            </div>
            <div class="mouse">
                <img class="mouse01" src="/public/demo/demo002/images/05-mouse01.png" alt="">
                <img class="mouse02" src="/public/demo/demo002/images/05-mouse02.png" alt="">
                <img class="hand" src="/public/demo/demo002/images/05-hand.png" alt="">
            </div>
        </div>
    </div>
    <div class="section screen06 ">
        <div class="content">

            <div class="cloud">
                <img class="cloud01" src="/public/demo/demo002/images/06-cloud01.png" alt="">
                <img class="cloud02" src="/public/demo/demo002/images/06-cloud02.png" alt="">
            </div>
            <div class="text">
                <img class="text01" src="/public/demo/demo002/images/06-text01.png" alt="">
                <img class="text02" src="/public/demo/demo002/images/06-text02.png" alt="">
            </div>
            <div class="box">
                <img src="/public/demo/demo002/images/06-box.png" alt="">
                <!--<div class="sofa"><img src="/public/demo/demo002/images/02-sofa.png" alt=""></div>-->
            </div>
            <div class="car">
                <img class="carImg" src="/public/demo/demo002/images/06-car.png" alt="">
                <img class="buyer" src="/public/demo/demo002/images/06-buyer.png" alt="">
                <img class="address" src="/public/demo/demo002/images/06-address.png" alt="">
                <img class="worker" src="/public/demo/demo002/images/06-worker.png" alt="">
                <img class="say" src="/public/demo/demo002/images/06-say.png" alt="">
            </div>
            <div class="person">
                <img class="personImg" src="/public/demo/demo002/images/06-person.png" alt="">
                <img class="door" src="/public/demo/demo002/images/06-door.png" alt="">
            </div>
        </div>
    </div>
    <div class="section screen07 ">
        <div class="content">
            <div class="star">
                <img class="star01" src="/public/demo/demo002/images/07-star.png" alt="">
                <img class="star02" src="/public/demo/demo002/images/07-star.png" alt="">
                <img class="star03" src="/public/demo/demo002/images/07-star.png" alt="">
                <img class="star04" src="/public/demo/demo002/images/07-star.png" alt="">
                <img class="star05" src="/public/demo/demo002/images/07-star.png" alt="">
            </div>
            <div class="text"><img src="/public/demo/demo002/images/07-text.png" alt=""></div>
        </div>
    </div>
    <div class="section screen08">
        <div class="content">
            <div class="btn">
                <img class="btn01" src="/public/demo/demo002/images/08-btn01.png" alt="">
                <img class="btn02" src="/public/demo/demo002/images/08-btn02.gif" alt="">
            </div>
            <div class="hand"><img id="handImg" src="/public/demo/demo002/images/08-hand.png" alt=""></div>
            <div class="again"><img src="/public/demo/demo002/images/08-again.png" alt=""></div>
        </div>
    </div>
</div>
<script src="/public/lib/jquery/jquery.min.js"></script>
<script src="/public/demo/demo002/js/jquery.fullpage.js"></script>
<script src="/public/demo/demo002/js/index.js"></script>
<!--<script>
    $(function () {
        $(document).on("mousemove", function (e) {
            $(".screen08 .hand img").css({"position": "absolute", "left": e.pageX-1000, "top": e.pageY - 400});
        });
    })
</script>-->
</body>
</html>