
{{extend './_layouts/home.html'}}

{{block 'title'}}
<title>Web前端开发工程师几道小山的博客</title>
{{/block}}

{{block 'head'}}
<link rel="stylesheet" type="text/css"  href="/public/css/index.css">
{{/block}}

{{block 'header'}}
<div class="logo">
    <a href="/">
        <h1 class="box_shadow">
            <span class="text_shadow">几道</span><span class="text_shadow">小山</span>
        </h1>
    </a>
</div>
{{/block}}

{{block 'content'}}
<div class="content">
    <div class="wrap">
        <div class="main">
            <div class="main_inner">
                <h2 class="text_shadow">欢迎光临几道小山的博客</h2>
                <h2 class="text_shadow">Welcome to MY BLOG</h2>
                <p class="text_shadow_p">我是几道小山，一名前端工程师，这是我的个人博客，也是我第一个上线的网站，以后这里就是我的基地，我会分享一些作品和文章在这里。</p>
                <p class="text_shadow_p">其实构思自己的网站很长时间了，真正实现并部署上线却发现并不是那么容易，当然目前的内容比较少。</p>
                <p class="text_shadow_p">前端路漫漫，充实网站或许是一个漫长的过程，加油！！！</p>
            </div>
        </div>
    </div>
</div>
{{/block}}

{{block 'left_side'}}

{{/block}}

{{block 'right_side'}}

{{/block}}
