
{{extend './_layouts/home.html'}}

{{block 'title'}}
<title>Web前端开发工程师几道小山的个人简历</title>
{{/block}}

{{block 'head'}}
<link rel="stylesheet" href="/public/css/resume.css">
{{/block}}

{{block 'content'}}
<div class="content">
    <div class="resume">
        <div class="box_shadow">
            <table>
                <caption>个人资料</caption>
                <tr>
                    <th>姓<span>名</span>：</th>
                    <td>几道小山</td>
                </tr>
                <tr>
                    <th>出生日期：</th>
                    <td>1988/88/88</td>
                </tr>
                <tr>
                    <th>工作年限：</th>
                    <td>7年(前端开发1年)</td>
                </tr>
                <tr>
                    <th>学<span>历</span>：</th>
                    <td>本科</td>
                </tr>
                <tr>
                    <th>专<span>业</span>：</th>
                    <td>工程管理</td>
                </tr>
                <tr>
                    <th>联系电话：</th>
                    <td>17779371655</td>
                </tr>
                <tr>
                    <th>邮<span>箱</span>：</th>
                    <td>874972633@qq.com</td>
                </tr>
                <tr>
                    <th>GitHub：</th>
                    <td><a href="https://github.com/jidaoxiaoshan" target="_blank">jidaoxiaoshan</a></td>
                </tr>
            </table>
        </div>
        <div class="box_shadow">
            <table>
                <caption>掌握技能</caption>
                <tr>
                    <th>HTML：</th>
                    <td><span>★★★★★</span> 掌握</td>
                </tr>
                <tr>
                    <th>CSS：</th>
                    <td><span>★★★★★</span> 掌握</td>
                </tr>
                <tr>
                    <th>JavaScript：</th>
                    <td><span>★★★★</span> 掌握</td>
                </tr>
                <tr>
                    <th>jQuery：</th>
                    <td><span>★★★★</span> 掌握</td>
                </tr>
                <tr>
                    <th>HTML5：</th>
                    <td><span>★★★</span> 熟悉</td>
                </tr>
                <tr>
                    <th>CSS3：</th>
                    <td><span>★★★</span> 熟悉</td>
                </tr>
                <tr>
                    <th>Less：</th>
                    <td><span>★★★</span> 熟悉</td>
                </tr>
                <tr>
                    <th>bootstrap：</th>
                    <td><span>★★★</span> 熟悉</td>
                </tr>
                <tr>
                    <th>VUE：</th>
                    <td><span>★★★</span> 熟悉</td>
                </tr>
                <tr>
                    <th>nodejs：</th>
                    <td><span>★★★</span> 熟悉</td>
                </tr>
                <tr>
                    <th>MySQL：</th>
                    <td><span>★★</span> 了解</td>
                </tr>
                <tr>
                    <th>PHP：</th>
                    <td><span>★★</span> 了解</td>
                </tr>
                <tr>
                    <th>MongoDB：</th>
                    <td><span>★★</span> 了解</td>
                </tr>
                <tr>
                    <th>react&angular：</th>
                    <td><span>☆</span> 听说过^@^</td>
                </tr>
                <tr>
                    <th>微信小程序：</th>
                    <td><span>☆</span> 同上^@^</td>
                </tr>
                <tr>
                    <th>写BUG：</th>
                    <td><span>★★★★★★★★★★</span> 精通</td>
                </tr>
            </table>
        </div>
        <div class="box_shadow">
            <table>
                <caption>求职意向</caption>
                <tr>
                    <th>期望职位：</th>
                    <td>前端工程师</td>
                </tr>
                <tr>
                    <th>工作技能：</th>
                    <td>Vue、JS、jQuery</td>
                </tr>
                <tr>
                    <th>目标城市：</th>
                    <td>上饶、南昌、杭州、上海</td>
                </tr>
                <tr>
                    <th>期望薪资：</th>
                    <td>8K - 12K</td>
                </tr>
                <tr>
                    <th>入职时间：</th>
                    <td>随时入职</td>
                </tr>
            </table>
        </div>
        <div class="box_shadow">
            <table>
                <caption>工作经验</caption>
                <tr>
                    <th>XX房地产评估：</th>
                    <td>2017 – 2018 年，私营公司 | 私营 | 规模：10-49人 ；参与日常房地产评估工作。</td>
                </tr>
                <tr>
                    <th>景德镇XX陶瓷：</th>
                    <td>2012 – 2016 年，私营公司 | 个人独资创业 | 规模：5-10人  ；负责工作室日常管理及网店日常运营。</td>
                </tr>
                <tr>
                    <th>南京XX集团：</th>
                    <td>毕业 – 2012 年，股份制公司 | 合资企业 | 规模：10w+人 ；负责项目部日常资料管理归档，巡查项目现场。</td>
                </tr>
            </table>
        </div>
        <div class="box_shadow">
            <table>
                <caption>其他信息</caption>
                <tr>
                    <th>教育经历：</th>
                    <td>南昌航空大学  |  土木与建筑学院 |  工程管理专业  |  全日制本科 </td>
                </tr>
                <tr>
                    <th>获得证书：</th>
                    <td>大学英语四级； 全国计算机等级二级； 二级建造师；</td>
                </tr>
                <tr>
                    <th>前端经历：</th>
                    <td>自学前端开发，走上一条不归路，一入前端深似海，翻完三座大山，还有三大框架；学完PC端，还有移动端；学完移动端，还有微信小程序...</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{{/block}}
