<footer>
    <nav>
        <ul>
            <li><a href="resume"><i></i> <strong>我的简历</strong></a></li>
            <li><a href="project"><i></i> <strong>我的作品</strong></a></li>
            <li><a href="default"><i></i> <strong>主页</strong></a></li>
            <li><a href="bookshelf"><i></i> <strong>我的书架</strong></a></li>
            <li><a href="https://jidaoxiaoshan.github.io/" target="_blank"><i></i><strong>学习笔记</strong></a></li>
        </ul>
    </nav>
    <div id="uyan_frame"></div>
    <p>Copyright © 2018-2022 几道小山个人版权所有 赣ICP备 1801024</p>
    <div><p align="center"><a href="http://www.amazingcounters.com">总访问量：<img border="0" src="http://cc.amazingcounters.com/counter.php?i=3228787&c=9686674" alt="AmazingCounters.com"></a></p></div>
</footer>