<header>
    <div class="logo">
        <a href="/">
            <h1 class="box_shadow">
                <span class="text_shadow">几道</span><span class="text_shadow">小山</span>
            </h1>
        </a>
    </div>
    <nav class="header_nav">
        <a href="default">首页</a>
        <!--<a href="articles">技术文章</a>-->
        <a href="project">作品展示</a>
        <a href="bookshelf">我的书架</a>
        <a href="free_notes">随笔/技术文章</a>
        <a href="message_board">留言板</a>
        <a href="resume">关于作者</a>
    </nav>
    <div class="cycle-wheel">
        <div class="cycle-wheel-front">
            <div class="cycle-wheel-outer">
                <ul class="spoke-container">
                    <li class="spoke"></li>
                    <li class="spoke"></li>
                </ul>
                <div class="inner-disc"></div>
                <div class="inner-disc-2"></div>
            </div>
        </div>
        <div class="cycle-wheel-after">
            <div class="cycle-wheel-outer">
                <ul class="spoke-container">
                    <li class="spoke"></li>
                    <li class="spoke"></li>
                </ul>
                <div class="inner-disc"></div>
                <div class="inner-disc-2"></div>
            </div>
        </div>
    </div>
    <p class="maxim">很多的时候，我们并不像自己认为的那样智慧；因为破山中贼易，破心中贼难。直到今天，科学史上那些智慧和探索故事的光亮，任然是我们脱离蒙昧的最大凭籍，愿大家保持开放与严谨，知具识为——古哥</p>
</header>